#usercon{
    padding:20px 20px;
    /* border:1px solid black; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
#username{
    font-size: 20px;
    font-weight: bold;
}
#view-btn{
    padding:8px 22px;
    outline:none;
    border-radius: 10px;
    border:none;
    background-color: #14a800;
    color:white;
   float: right;
   margin-top: -30px;
}
/* EmployeeList.css */
.employee-list {
    margin: 20px;
  }
  
  .employee-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .employee-list ul {
    list-style: none;
    padding: 0;
  }
  
  .employee-list li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .employee-list li:hover {
    background-color: #f1f1f1;
  }
  
  .employee-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .employee-details h3 {
    font-size: 20px;
    margin: 0;
  }
  
  .employee-details p {
    margin: 5px 0;
  }
  
  .employee-details button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
  }
  
  .modal h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .modal p {
    margin: 5px 0;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  #Scheduleint{
    padding:10px 22px;
    outline:none;
    border-radius: 10px;
    border:none;
    background-color: #14a800;
    color:white;
   float: right;
  }
  .profile-container-1{
    display: flex;
    justify-content: center;
    margin-top: 7%;
  }