#page-wrap {
    text-align: center;
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 20px;
    color: black;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color:#14a800;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width:20px;
    height:12px;
    left: 20px;
    top: 20px;
    margin-top:2.5px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #14a800;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background:#14a800;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background:#fafcfe;
    padding: 3em 1.5em 0;
    font-size: 1.1em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color:black
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 1);
  }
  .icn{
    margin-right: 10px;
    margin-top: 2px;
  }